<%- include('header'); -%>
		<div class="inner-header inner-blog-header">
			<!-- .inner-header -->
			<h2>Blog 03 columns</h2>
			<div class="bdr">
				<ul>
					<li>Home</li>
					<li>/</li>
					<li>Shop </li>
					<li>/</li>
					<li><span>Blog 03 columns</span></li>
				</ul>
			</div>
			<!-- /.inner-header -->
		</div>
	</header>
	<section class="blog">
		<!-- .blog -->
		<div class="container">
			<!-- Filter Controls - Simple Mode -->
			<div class="row">
				<!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
                     for an unfiltered gallery and then the values of your categories to filter between them -->
				<div class="col-md-12">
					<ul class="simplefilter">
						<li class="active" data-filter="all">all</li>
						<li data-filter="1">fashion</li>
						<li data-filter="2">entertaiment</li>
						<li data-filter="3">business</li>
						<li data-filter="4">photography</li>
						<li data-filter="5">other</li>
					</ul>
				</div>
			</div>
			<div class="row filtr-container baguetteBoxThree">
				<div class="col-sm-4 col-md-4 filtr-item" data-category="1, 5" data-sort="Busy streets">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img01.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="#" class="readbtn">Read More</a>
				</div>
				<div class="col-sm-4 col-md-4 filtr-item" data-category="2, 5" data-sort="Luminous night">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img02.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="#" class="readbtn">Read More</a>
				</div>
				<div class="col-sm-4 col-md-4 filtr-item" data-category="1, 4" data-sort="City wonders">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img03.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="#" class="readbtn">Read More</a>
				</div>
				<div class="col-sm-4 col-md-4 filtr-item" data-category="3" data-sort="In production">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img04.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="#" class="readbtn">Read More</a>
				</div>
				<div class="col-sm-4 col-md-4 filtr-item" data-category="2" data-sort="Industrial site">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img05.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="#" class="readbtn">Read More</a>
				</div>
				<div class="col-sm-4 col-md-4 filtr-item" data-category="3" data-sort="Peaceful lake">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img06.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="#" class="readbtn">Read More</a>
				</div>

			</div>
			<div class="pagetions">
				<!-- .pagetions -->
				<div class="col-md-12">
					<ul>
						<li><a href="#">1</a></li>
						<li><a href="#" class="active">2</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<!-- /.pagetions -->
			</div>
		</div>
		<!-- /.blog -->
	</section>
	<section class="subscribe text-center">
		<!-- .subscribe -->
		<div class="container">
			<h2>Get Discount Info</h2>
			<p>ubscribe to the Outstock mailing list to receive updates on new arrivals, special offers and
				<br> other discount information.</p>
			<input type="text" placeholder="Subscribe to our newsletter...">
			<input type="button" value="Subscribe"> </div>
		<!-- /.subscribe -->
	</section>
<%- include('footer'); -%>
