<%- include('header'); -%>
	<div class="inner-header inner-blog-header">
		<!-- .inner-header -->
		<h2>Blog Posts</h2>

		<!-- /.inner-header -->
	</div>
	</header>
	<section class="blog">
		<!-- .blog -->
		<div class="container">
			<div class="row">
			</div>
			<div class="row filtr-container baguetteBoxThree">
				<div class="col-sm-4 col-md-4 filtr-item" data-category="1, 5" data-sort="Busy streets">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img01.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-post-1">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="blog-post-1" class="readbtn">Read More</a>
				</div>
				<div class="col-sm-4 col-md-4 filtr-item" data-category="2, 5" data-sort="Luminous night">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img02.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-post-1">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="blog-post-1" class="readbtn">Read More</a>
				</div>
				<div class="col-sm-4 col-md-4 filtr-item" data-category="1, 4" data-sort="City wonders">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog-img03.jpg" alt="sample image">
						<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
					</div>
					<p class="hank"><a href="blog-post-1">How To Wear Prints In Winter</a></p>
					<p class="time">By <span>Erentheme</span> / September 14, 2017</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
					<a href="blog-post-1" class="readbtn">Read More</a>
				</div>
			</div>
		</div>
		<!-- /.blog -->
	</section>
	<%- include('footer'); -%>
