<%- include('header'); -%>
	</header>
	<section class="blog blog-deatils">
		<!-- .blog -->
		<div class="container">
			<div class="col-sm-12 col-md-12 blog-deatails">
				<p class="hank text-center"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
				<p class="time text-center">By <span>Zcubedesign</span> / September 14, 2017</p>
				<img class="blog-img2" src="assets/images/blog-post-large.jpg" alt="gallery1" />
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
							here, content here', making it look like readable English.</p>
						<blockquote>
							<p>Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something.</p>
						</blockquote>
						<img class="blog-img2" src="assets/images/blog-post-02.jpg" alt="gallery1" />
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
							here, content here', making it look like readable English.</p>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
							here, content here', making it look like readable English.</p>
					</div>
					<div class="col-lg-2"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<!-- .comment-post-img -->
						<!--  RSK-->
						<div class="comment-post-img" style="padding-bottom: 40px">
							<h2>You Might Also Like</h2>
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="blog-img"> <img class="img-responsive" src="assets/images/blog-img01.jpg" alt="sample image">
										<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
									</div>
									<p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
									<p class="time"><span class="date">August 02, 2017</span> by <span>Zcubedesign</span></p>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="blog-img"> <img class="img-responsive" src="assets/images/blog-img06.jpg" alt="sample image">
										<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
									</div>
									<p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
									<p class="time"><span class="date">August 02, 2017</span> by <span>Zcubedesign</span></p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-lg-2"></div>
				</div>
			</div>
			<!-- /.blog -->
		</div>
	</section>

	<%- include('footer'); -%>
