<%- include('header'); -%>
	<div class="inner-header">
		<!-- .inner-header -->
		<h2> Make us a chapter of yours</h2>
		<!-- /.inner-header -->
	</div>

	<section>
		<!-- .contact form -->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="contact-form">
						<div class="contact-title">
							<h2>
											Contact Info
										</h2>
						</div>
					</div>
					<div class="col-md-12 contact-info">
						<ul>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon1.jpg" alt="phone-icon">
								</div>
								<strong>Our Address</strong>
								<br/> Vile Parle East, Mumbai
							</li>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon3.jpg" alt="phone-icon">
								</div>
								<strong>Phone</strong>
								<br/> <i class="fa fa-whatsapp"></i> <a href="tel:7977776587">797-777-6587</a> / <i class="fa fa-phone"></i> <a href="tel:9619817506">9619-817-506</a>
							</li>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon2.jpg" alt="phone-icon">
								</div>
								<strong> Email </strong>
								<br/> <a href="mailto:hello@thetstory.co">hello@thetstory.co</a> / <a href="mailto:support@thetstory.co">support@thetstory.co</a>
							</li>
						</ul>

					</div>

				</div>
				<div class="col-md-6">
					<!--  RSK-->
					<p style="margin-top: 130px">
						Have any questions? We'd love to answer. <br> Are you an artist who'd wish to collaborate with us? Head over <a href="/collaborate">here</a>.<br> For bulk or corporate orders, drop us a message, we'll get in touch with you.</p>

						<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fthetstoryco%2F&width=96&layout=button&action=like&size=small&show_faces=true&share=true&height=65&appId" width="96" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
					<!-- <div class="f-sicon2">
						<ul>
							<li><a href="https://www.facebook.com/thetstoryco/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/thetstoryco"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div> -->
				</div>
			</div>
		</div>
		<!-- /.contact form  -->
	</section>

<%- include('footer'); -%>
