<%- include('header'); -%>
	<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
		<!-- .home-slider -->
		<div class="carousel-inner">
			<div class="item active" style="background-image: url(assets/img/carousel-1.jpg);  background-repeat: no-repeat; background-position: top;">
				<div class="caption">
					<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Succulents & Cacti</h2>
					<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">The Plants Of Patience And Solitude, Love And Madness, Ugliness And Beauty, Toughness And Gentleness. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="products"><span>view collection</span></a> </div>
			</div>
			<div class="item" style="background-image: url(assets/img/carousel-2.jpg);  background-repeat: no-repeat; background-position: top;">
				<div class="caption">
					<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Home Decor</h2>
					<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">Your Home Speaks Volumes About You. Lets Go An Extra Mile To Express Yourself Subtly Yet With Class. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
			</div>
			<div class="item" style="background-image: url(assets/img/carousel-3.jpg);  background-repeat: no-repeat; background-position: top;">
				<div class="caption">
					<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Garden Planning</h2>
					<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">Gardening Is The Purest Of Human Pleasures, It Is The Slowest Of The Performing Arts. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
			</div>
			<!-- indicators -->
			<ol class="carousel-indicators">
				<li data-target="#home-slider" data-slide-to="0" class="active"></li>
				<li data-target="#home-slider" data-slide-to="1" class=""></li>
				<li data-target="#home-slider" data-slide-to="2" class=""></li>
			</ol>
			<!-- /indicators -->
		</div>
		<!-- /.home-slider -->
	</div>
	</header>
	<section class="blog-post">
		<div class="container">
			<div class="tittle text-center">
				<h2>Our Blog Posts</h2>
			</div>
		</div>
		<div class="container">
			<!-- .banner-bg -->
			<div class="banner-bg">
				<div class="col-sm-4 col-md-4">
					<!-- .banner-img -->
					<div class="banner-img animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s"> <img src="assets/images/banner1.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>British Made Pocket Knife - Oak</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
				<div class="col-sm-4 col-md-4">
					<!-- .banner-img -->
					<div class="banner-img animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s"> <img src="assets/images/banner2.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>Chair Kimi No Isu Project</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
				<div class="col-sm-4 col-md-4 animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
					<!-- .banner-img -->
					<div class="banner-img"> <img src="assets/images/banner3.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>Merino Lambswool Scarf Moss</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
			</div>
			<!-- /.banner-bg -->
		</div>
	</section>

	<section class="new-arrivals">
		<div class="container">
			<div class="tittle text-center">
				<h2>Trending Products</h2>
				<p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
			</div>


			<div class="row animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/21.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/26.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/24.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/17.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/22.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/7.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/19.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/6.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="discount tage"> <span class="discount-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-12 text-center">
					<a href="#" class="lbtn">load more</a>
				</div>
			</div>
		</div>
	</section>

	<section class="">
		<div class="container">
			<div class="tittle text-center">
				<h2>Services</h2>
				<p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
			</div>
		</div>
	</section>
	<section class="banner-outer">
		<!-- .banner-outer -->
		<div class="col-sm-6 col-md-6">
			<!-- .banner-img -->
			<div class="banner-img">
				<img src="assets/images/bg-banner.jpg" alt="about-img1" />
				<div class="banner-text2">
					<h4>Products Essentials</h4>
					<h3>Bottle With Wooden Cork</h3>
					<p>The Newtown sofa range is the first product Jonas Wagell has designed for Zaozuo, but one of the last to be finalized and launched.</p>
					<p><a href="#">Buy now / <span>$196.98</span></a></p>
				</div>
			</div>
			<!-- /.banner-outer -->
		</div>

		<div class="col-sm-6 col-md-6">
			<!-- .banner-img -->
			<div class="banner-img">
				<img src="assets/images/bg-banner2.jpg" alt="about-img1" />
				<div class="banner-text2">
					<h4>Products Essentials</h4>
					<h3>Hauteville Plywood Chair</h3>
					<p>The Newtown sofa range is the first product Jonas Wagell has designed for Zaozuo, but one of the last to be finalized and launched.</p>
					<p><a href="#">Buy now / <span>$196.98</span></a></p>
				</div>
			</div>
			<!-- /.banner-outer -->
		</div>
		<!-- /.banner -->
	</section>

	<section class="new-arrivals">
		<div class="container testimonals-title">
			<div class="tittle text-center">
				<h2>Testimonials</h2>
			</div>
			<div class="row">
				<div class="col-md-12" data-wow-delay="0.2s">
					<div class="carousel slide" data-ride="carousel" id="quote-carousel">
						<!-- Bottom Carousel Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
							</li>
							<li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
							</li>
							<li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
							</li>
						</ol>

						<!-- Carousel Slides / Quotes -->
						<div class="carousel-inner text-center">

							<!-- Quote 1 -->
							<div class="quote-item item active">
								<blockquote>
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">

											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
												irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
											<small>Someone famous</small>
										</div>
									</div>
								</blockquote>
							</div>
							<!-- Quote 2 -->
							<div class="quote-item item">
								<blockquote>
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">

											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
												irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
											<small>Someone famous</small>
										</div>
									</div>
								</blockquote>
							</div>
							<!-- Quote 3 -->
							<div class="quote-item item">
								<blockquote>
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">

											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
												irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
											<small>Someone famous</small>
										</div>
									</div>
								</blockquote>
							</div>
						</div>

						<!-- Carousel Buttons Next/Prev -->
						<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
						<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('footer'); -%>
